body{
	margin: 0;
}

/*GLOBAIS*/

h2,h3,h4{
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
}

label{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 0.9rem;
}

p{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.2rem;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

.dropdown {
  	position: relative;
  	display: inline-block;
  	text-decoration: underline;
}

.important_text{
	color: red;
}

/*HEADER*/

header{
	margin: auto;
}

header h2{
	padding: 32px 70px;
}

.formbtn{
	background-color: #226597;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 4px;
	margin: 0px 5px;
	transition-duration: 0.2s;
}

.formbtn:hover{
	background-color: #87c0cd;
	color: white;	
}

.container_top a{
	display: flex;
	width: 100%;
	height: 220px;
	background-color: #f3f9fb;
}

.container_top a img{
	height: 200px;
	width: 200px;
	margin: auto;
}

.container_mid{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	height: 3.3rem;	
	background-color: #226597;
	color: white;
	box-shadow: 0 1px 4px black;
}

.container_mid form{
	margin: 5px;
	padding: 10px;
	background-color: #113f67;
	border-radius: 5px;
}

.container_mid select{
	margin-right: 4px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  padding: 15px;
  background-color: #113f67;
  box-shadow: 0 1px 4px black;
  border-radius: 5px;
  z-index: 1;
}

.dropdown-content select{
	margin-top: 7px;
	margin-bottom: 7px;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.profileimg_small{
	height: 20px;
	width: 20px;
}

/*FLEX*/

.flex{
	display: flex;
}

.flex_col{
	display: flex;
	flex-direction: column;
}

.flex_center{
	display: flex;
	justify-content: center;
	align-items: center;	
	margin: 10px;
}

/*SECTION*/

section{
	margin: 20px;
	border: 1px solid black;
	border-radius: 5px;
	background: #f3f9fb;
}

section .newsleft{
	padding-left: 15px;
	padding-right: 15px;
	flex-grow: 1;
}

section .newsright a{
	float: right;
}

section .newsright img{
	width: 400px;
	height: 400px;
	float: right;
}

section a:link{
	color: #226597!important;
}

.iconbox{
 	justify-content: space-evenly;
 	margin-top: 0; 		
 	margin-bottom: 0;
 	border-top: 1px solid black 	 	
}

.boxborder{
	justify-content: center;
	margin-top: 10px;
	color: white;
}

.boxborder_child{
	margin: 4px;
	padding: 0 5px;
	border-radius: 3px;
	background-color: #226597;
	color: white;
}

.boxborder_child p{
	margin: 5px 0;
}

.cont_leftborder{
	border-left: 15px #222831 solid;
	background-color: #226597;	
}

.container_title{
	margin: 10px;
	font-size: 1.2rem;	
	color: white;	
}

.container_title h3{
	letter-spacing: 1px;
	font-weight: normal;
	font-family: 'Anton', sans-serif;
}

/*GRID*/

.grid{
	display: grid;
	justify-items: center;
	margin: 10px;
	grid-column-gap: 12px;
	grid-row-gap: 12px;
}

.grid img{
	height: 30vh;
	width: 30vw;
}

.grid p{
	padding: 8px 8px 0 8px;
	margin-bottom: 0;
	font-size: 1rem;
}

.grid .iconbox p{
	padding: 8px 0px;	
	font-size: 1rem;
	margin: 0;
}

.item1{
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-start: 1;
	grid-column-end: 1;
}

.item2{
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-start: 2;
	grid-column-end: 2;
}

.item3{
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-start: 3;
	grid-column-end: 3;
}

.bordergrid{
	border: 1px solid black;
	border-radius: 3px;
	color: white;
	background: #113f67;
	width: 30vw;
}

.description{
	height: 100px;
}

/*GRID INFO*/

.grid_info{
	display: grid;
	grid-column-gap: 12px;
}

.grid_info p{
	margin: 0;	
}

.info_desc{
	grid-row-start: 1;
	grid-column-start: 1;
}

.info_stat{
	grid-row-start: 2;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 1;
}

.info_loc{
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 1;
}

.info_outros{
	grid-row-start: 4;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 1;
}

.info_img{
	border: 1px solid black;
	border-radius: 3px;
	grid-row-start: 1;
	grid-column-start: 2;
	width: 480px;
	height: 380px;
}

.info_action{
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	grid-row-start: 2;
	grid-column-start: 2;
}

.info_action h4{
	margin-top: 30px;
}

/*CLIENTE.html*/

.grid .userimg{
	display: block;
	border-radius: 8px;
	width: 200px;
	height: 200px;
	margin-top: 20px; 
	margin-bottom: 20px; 
}

.grid a{
	display: block;
	text-align: center;
}

.grid .userprofile_r{
	padding-left: 10px;
	padding-right: 12px;
	grid-column-start: 3;
	grid-row-start: 1;
}

.grid .userprofile_c{
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 300px;
	grid-column-start: 2;
	grid-row-start: 1;
}

.userprofile_c .datacliente h4,p,a,img{
	display: inline-block;
}

.userprofile_c .datacliente a{
	display: inline-block;
	margin: 2px;
	padding: 8px;
}

.userprofile_c .datacliente img{
	display: inline-block;
}

.userprofile_c .datacliente p{
	margin: 2px;
}

.grid .userprofile_l{
	padding-left: 12px;
	padding-right: 10px;
	grid-column-start: 1;
	grid-row-start: 1;
}

.grid .dashimg{
	border: 1px solid black;
	border-radius: 4px;
	width: 50px;
	height: 50px;
}

.userprofile_l .dashtop{
	align-self: end;
	grid-column-start: 2;
	grid-row-start: 1;	
}

.userprofile_l .dash1{
	grid-column-start: 1;
	grid-row-start: 2;
}

.userprofile_l .dash2{
	grid-column-start: 2;
	grid-row-start: 2;
}

.userprofile_l .dash3{
	grid-column-start: 3;
	grid-row-start: 2;
}

/*CADASTRO*/

.form_cad{
	padding: 15px 15px;
}

.form_cad h3{
	padding: 10px 0px;
}

.form_cad label{
	margin: 5px 0px;
}

.form_cad fieldset{
	margin: 5px 0px;
}

.form_cad .inputw{
	width: 70%;
}

.form_cad .inputradio{
	width: 2%;
}

.form_cad .inputNumberw{
	width: 10%;
}

.form_cad .submitbtn{
	width: 25%;
	margin: 10px 0px;
	align-self: center;
}

/*FOOTER*/

footer{
	text-align: center;
	border-top: 1px #e0e2e5 solid;	
}

footer p{
	margin: 0;
	padding: 10px 0;
}

.ft_left{
	float: left; 
	padding-left: 30px;
}

.ft_left p{
	background-color: #222831;
	padding: 0 3px;
	margin: 15px 5px 5px 5px;
	border-radius: 3px;
	color: white;
}

.ft_right{
	float: right; 
	padding-right: 30px;
}

.ft_right i{
	padding: 0 5px;
}

.ft_right a{
	background-color: #222831;
	padding: 3px;
	margin: 5px;
	border-radius: 3px;
}

/*MEDIA QUERY*/

@media(max-width: 1199px){
	.dropdown {
  		position: relative;
  		display: block;
  		text-align: center;
  		margin-top: 8px;
	}

	.container_mid{
		flex-direction: column;
		height: auto;
		font-weight: bold;
	}

	.container_mid label{
		text-align: center;
		display: block;
	}

	.container_mid select{
		width: 100%;
	}

	.container_mid input.notbtn{
		margin-top: 5px;
		text-align: center;
		display: block;
		margin-right: auto;
		margin-left: auto;
		width: 68%;
	}

	.formbtn{
		display: block;
		margin-top: 5px;
		margin-right: auto;
		margin-left: auto;
		width: 70%;
	}

	.flex_center .formbtn{
		margin-right: 3px;
		margin-left: 3px;
	}

	.dropdown-content {
  		position: relative;
	}

	.flex{
		flex-direction: column-reverse;
	}

	section img{
		height: 100%;
	}

	.nodisplay{
		display: none;
	}

	/*CLIENTE.html*/

	.grid .userprofile_c{
		padding-right: 20px;
	}
}

@media(max-width: 768px){

	.container_top img{
    	height: 150px;
    	width: 150px;
    	margin: auto;
	}

	.iconbox{
		flex-direction: column;
	}	

	.item1{
		grid-row-start: 1;
		grid-row-end: 1;
		grid-column-start: 1;
		grid-column-end: 1;
	}

	.item2{
		grid-row-start: 2;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 1;
	}

	.item3{
		grid-row-start: 3;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 1;
	}

	.item4,.item5,.item6,
	.item7,.item8,.item9{
		display: none;
	}

	/*CLIENTE.html*/

	.grid .userprofile_r{
		grid-column-start: 1;
		grid-row-start: 1;
	}

	.grid .userprofile_c{
		grid-column-start: 1;
		grid-row-start: 2;
		padding-right: 20px;
		border: 0;
	}

	.grid .userprofile_l{
		grid-column-start: 1;
		grid-row-start: 3;
	}

	/*CADASTRO*/

	.form_cad .inputw{
	width: 100%;
	}

	.form_cad .submitbtn{
	width: 50%;
	margin: 10px 0px;
	align-self: center;
	}

	/*GRID INFO*/

	.info_desc{
		grid-row-start: 3;
		grid-column-start: 1;
	}

	.info_stat{
		grid-row-start: 4;
		grid-row-end: 4;
		grid-column-start: 1;
		grid-column-end: 1;
	}

	.info_loc{
		grid-row-start: 5;
		grid-row-end: 5;
		grid-column-start: 1;
		grid-column-end: 1;
	}

	.info_outros{
		grid-row-start: 6;
		grid-row-end: 6;
		grid-column-start: 1;
		grid-column-end: 1;
	}

	.info_img{
		grid-row-start: 1;
		grid-column-start: 1;
	}

	.info_action{
		grid-row-start: 2;
		grid-column-start: 1;
	}
}